.stat {
  width: 2em;
  height: 26px;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
}

input {
  border: 1px solid black;
}

select {
  background-color: white;
  border: 1px solid black;
}

.stat:disabled {
  border: 1px solid black;
}

.table-header {
  text-align: right;
}

.card {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.wide {
  width: 70px;
  text-align: right;
}

body {
  font-family: sans-serif;
}
