.stat {
  width: 2em;
  height: 26px;
  font-size: 16px;
  text-align: center;
  border: 1px solid black;
}

input {
  border: 1px solid black;
}

h4 {
  margin: 0px;
}

select {
  background-color: white;
  border: 1px solid black;
}

.stat:disabled {
  border: 1px solid black;
}

body {
  padding: 0px;
  margin: 0px;
}

.toolbar {
  padding: 8px;
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: gray;
}

.table-header {
  text-align: right;
}

.character {
  color: white;
  background-color: gray;
  float: left;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 22em;
  cursor: pointer;
}

.card {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 440px;
}

.wide {
  width: 6em;
  text-align: right;
}

body {
  font-family: sans-serif;
}

.content {
  padding-top: 60px;
}
